sample/mapper-prototype.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT mapper (resultType*, select*)>
	<!ATTLIST mapper namespace CDATA "default">
	
	<!ELEMENT resultType (result+)>
		<!ATTLIST resultType id CDATA #REQUIRED>
		<!ATTLIST resultType type CDATA #REQUIRED>
		
		<!ELEMENT result EMPTY> 
			<!ATTLIST result column CDATA #REQUIRED>
			<!ATTLIST result field CDATA #REQUIRED>
			
	<!ELEMENT select (#PCDATA)>
		<!ATTLIST select id CDATA #REQUIRED>
		<!ATTLIST select resultType CDATA #REQUIRED>

			